<div class="col-md-12">
    <table class="table table-hover table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Date</th>
        </tr>
        {% for file in files %}
            <tr class="clickable-row" data-href="{{ url_for('files.get_file', file_name=file.file_name) }}">
                <td class="col-md-1">{{ file.id }}</td>
                <td class="col-md-5">{{ file.name }}</td>
                <td class="col-md-3">{{ file.owner.login }}</td>
                <td class="col-md-3">{{ moment(file.created_time).format('llll') }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
